{% for post in site.posts %}
    {% if post.url contains include.name %}
        {% if include.scale == null %} {% assign scale = "100%" %} {% else %} {% assign scale = include.scale %} {% endif %}
<a href="{{ post.url | absolute_url }}">
<b>{{ post.title }}</b>
<br>
{% if post.image %}<img height="{{ scale }}" width="{{ scale }}" class="img-fluid" src="{% if post.image contains "://" %}{{ post.image }}{% elsif post.image.size == 2 %}{{ site.image_host }}/{{ post.image.last }}{% else %}{{ site.image_host }}/{{ post.image }}{% endif %}" alt="{{ post.title }}"> {% endif %}</a>
    {% endif %}
{% endfor %}
